@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}


#hamnav {
  width: 100%;
  background-image: linear-gradient(to bottom, #e06618, #d65a15, #cb4e12, #c14210, #b6360d);
}


#hamitems { display: flex; }
#hamitems a {
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: right;
}

#hamitems a:hover { background: #1b1b1b; }


#hamnav label, #hamburger { display: none; }


@media screen and (max-width: 768px){
  
  #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
    text-align: center;
  }
 
 
  #hamnav label { 
    display: inline-block; 
    color: white;
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  
  #hamitems { display: none; }
  #hamnav input:checked ~ #hamitems { display: block; }
}

.logo {
  display: flex;
  height: 150px;
  width: auto;
}

.fox {
  visibility: hidden;
  display: none;
}

.navbar-nav {
  list-style: none;
  justify-content: flex-end;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: linear-gradient(to bottom, #e06618, #d65a15, #cb4e12, #c14210, #b6360d);
}

.nav-link {
  padding: 8px !important;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
.nav-link:hover {
  color: black;
}

.navItem {
  padding: 1em;
}

@media screen and (max-width: 576px) {
  .navbar-nav {
    flex-direction: column;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.sponsorsMain {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  align-content: space-evenly;
  background-image: linear-gradient(to bottom, #e06618, #d65a15, #cb4e12, #c14210, #b6360d);
}

.imagenSponsor {
  margin: 10px;
  height: 110px;
  width: auto;
}
.imagenSponsor:hover {
  filter: invert(100%);
}

@media screen and (max-width: 1440px) {
  .imagenSponsor {
    height: 90px;
  }
}
@media screen and (max-width: 1024px) {
  .imagenSponsor {
    height: 70px;
  }
}
@media screen and (max-width: 830px) {
  .sponsorsMain {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
.exclusivos {
  text-align: center;
  padding: 15px;
}

.botonesContacto {
  color: #ffffff;
  text-align: center;
}

.copyright {
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  grid-area: 2/1/3/4;
  margin-top: 10px;
}

.mediosDePago {
  width: 60%;
  display: block;
  margin: auto;
  height: auto;
}

footer {
  font-size: 16px;
  background-image: linear-gradient(to bottom, #e06618, #d65a15, #cb4e12, #c14210, #b6360d);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.secciones {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.marcaFooter {
  text-align: center;
  color: black;
  padding: 10px;
}

.marcaChicaFooter:hover {
  color: black;
}

.logoFooter {
  filter: invert(100%);
  margin: 10px;
  width: 50px;
  height: auto;
}
.logoFooter:hover {
  filter: invert(0%);
}

/*CONTACTO*/
.elegirPais {
  padding-top: 10px;
}

.gridContactanos {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.gridConsultas {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-left: 10px;
}

.enviarContacto {
  background-image: linear-gradient(to bottom, #e06618, #d65a15, #cb4e12, #c14210, #b6360d);
  color: #ffffff;
}
.enviarContacto:hover {
  background-image: linear-gradient(to right top, #000000, #111111, #1b1b1b, #252525, #303030);
}

input {
  margin-bottom: 10px;
}

.gridMapa {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.mapa {
  display: flex;
  padding: 50px;
}

iframe {
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .mapa {
    padding: 12px;
    width: 1200px;
    height: 350px;
    margin: auto;
  }
  .gridMapa {
    padding: 0px;
  }
  .gridContactanos {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
  }
  .gridConsultas {
    margin: 0px;
  }
}
/*PROMOCIONES*/
.cardTextPrecio {
  width: 100%;
  text-align: center;
  font-size: 20px;
  background-image: linear-gradient(to right top, #000000, #111111, #1b1b1b, #252525, #303030);
  color: #ffffff;
  border-radius: 25px;
}

h2.exclusivos {
  padding: 15px;
  border-radius: 25px;
  margin: 40px;
  color: #ffffff;
  background-image: linear-gradient(to right top, #000000, #111111, #1b1b1b, #252525, #303030);
}

.card-img-top:hover {
  transform: scale(1.3);
  transition: transform 0.2s;
}

/*SPONSOR*/
.sponsors {
  margin: auto;
  width: 70%;
}

.imgSponsor {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
}
.imgSponsor:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

/*AYUDA*/
section.ayuda {
  padding: 20px;
  margin: 20px;
}

.btn-link {
  color: black;
}
.btn-link:hover {
  color: orangered;
  text-decoration: none;
}

.card-support {
  margin: 40px;
}

.btn-primary {
  background-image: linear-gradient(to bottom, #e06618, #d65a15, #cb4e12, #c14210, #b6360d);
}
.btn-primary:hover {
  background-image: linear-gradient(to right top, #000000, #111111, #1b1b1b, #252525, #303030);
}

.card-header {
  font-size: 18px;
}

.tiempoLimitado {
  display: flex;
  width: 100%;
  padding-bottom: 50px;
  padding-inline: 5%;
  justify-content: space-evenly;
}

.cardPc {
  max-width: 27%;
  margin: 10px;
  background-image: linear-gradient(to bottom, #e06618, #d65a15, #cb4e12, #c14210, #b6360d);
  box-shadow: 2px 2px 10px #000000;
  border-radius: 7px;
  overflow: hidden;
  flex: 1;
}
.cardPc:hover {
  box-shadow: 2px 2px 10px orangered;
}

.cardPcNvidia {
  max-width: 27%;
  margin: 10px;
  background-color: #76b900;
  box-shadow: 2px 2px 10px #000000;
  border-radius: 7px;
  overflow: hidden;
  flex: 1;
}
.cardPcNvidia:hover {
  transform: scale(1.02);
}

.cardPcIntel {
  max-width: 27%;
  margin: 10px;
  background-color: #061c55;
  box-shadow: 2px 2px 10px #000000;
  border-radius: 7px;
  overflow: hidden;
  flex: 1;
}
.cardPcIntel:hover {
  transform: scale(1.02);
}

.cardPcRazer {
  max-width: 27%;
  margin: 10px;
  background-color: #000000;
  box-shadow: 2px 2px 10px #000000;
  border-radius: 7px;
  overflow: hidden;
  flex: 1;
}
.cardPcRazer:hover {
  transform: scale(1.02);
}

.bannersInferiores {
  padding: 20px;
  text-align: center;
}

.imgBannerInferior {
  max-width: 100%;
  height: auto;
  box-shadow: 2px 2px 8px #000000;
}

.sponsorsSec {
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-inline: 5%;
  justify-content: space-evenly;
}

@media screen and (max-width: 1250px) {
  .cardPcNvidia {
    min-width: 90%;
    display: flex;
    padding-bottom: 0;
    align-items: center;
  }
  .cardPcIntel {
    min-width: 90%;
    display: flex;
    padding-bottom: 0;
    align-items: center;
  }
  .cardPcRazer {
    min-width: 90%;
    display: flex;
    padding-bottom: 0;
    align-items: center;
  }
  .sponsorsSec {
    flex-direction: column;
    gap: 5rem;
    padding-inline: 2%;
    align-items: center;
  }
}
@media screen and (max-width: 1000px) {
  .cardPcNvidia {
    align-self: center;
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .cardPcIntel {
    align-self: center;
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .cardPcRazer {
    align-self: center;
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .sponsorsSec {
    flex-direction: column;
    gap: 5rem;
    padding-inline: 5%;
  }
}
.imgcard {
  margin-left: auto;
  margin-right: auto;
  display: block;
  flex: 1;
  width: 100%;
}

.imgSponsorCard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  width: auto;
}

.infocard {
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

@media screen and (max-width: 900px) {
  .tiempoLimitado {
    flex-direction: column;
    gap: 5rem;
    padding-inline: 5%;
  }
  .cardPc {
    align-self: center;
    flex-direction: column;
    padding-bottom: 1.5rem;
  }
  .infocard {
    padding: 10px;
  }
}
@media screen and (max-width: 1250px) {
  .cardPc {
    min-width: 90%;
    display: flex;
    padding-bottom: 0;
    align-items: center;
  }
  .tiempoLimitado {
    flex-direction: column;
    gap: 5rem;
    padding-inline: 2%;
    align-items: center;
  }
  .cardTextPrecio {
    width: 80%;
  }
}

/*# sourceMappingURL=estilos.css.map */
